<html>
    <head>
        <title> Ola's blog</title>
    </head>
    <body>
        <div>
            <h1> <a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p> published: 2024/03/20 17:32</p>
            <h2> <a href="">My first post </a><h2>
            <p> Aenean eu leo quam. こんにちは！ よろしくお願いいたします! </p>
        </div>

        <div>
            <p> 公開日： 2024/03/20, 17:32</p>
            <h2> <a href="">2番目の投稿</a><h2>
            <p>こんにちは！よろしくお願いします </p>
        </div>1
    </body>
</html> 